export(ag.checkfactor.ds)
export(ag.createfactor.ds)
export(ag.glm.ds)
export(ag.histogram.ds)
export(ag.isNA.ds)
export(ag.mean.ds)
export(ag.NROW.ds)
export(ag.product.ds)
export(ag.quantilemean.ds)
export(ag.range.ds)
