export(ag.checkvar1.ds)
export(ag.contourplot.ds)
export(ag.createfactor.ds)
export(ag.glm.ds)
export(ag.griddensitylim.ds)
export(ag.histogram.ds)
export(ag.mean.ds)
export(ag.MinMax.ds)
export(ag.oddsratio.ds)
export(ag.quantilemean.ds)
